body {
  margin: 0;
}

.content {
  background-image: url('/img/campsite.jpg');
  background-position: left;
  background-size: cover;
  height: 100vh;
  padding: 2rem;
}

.title {
  border: solid 0.7rem #fff;
  border-radius: 2.5rem;
  color: #fff;
  display: inline-block;
  font-family: "Lobster", sans-serif;
  font-size: 6rem;
  padding: 0 1rem 0 1rem;
}